<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:atom="http://www.w3.org/2005/Atom" version="2.0"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  xmlns:psc="http://podlove.org/simple-chapters"
  xmlns:podcast="https://podcastindex.org/namespace/1.0">
  <channel>
    <title><![CDATA[Bible Song Sing Along]]></title>
    <description><![CDATA[It's like musical AWANAs for cool kids.]]></description>
    <link>https://musicsideproject.com/</link>
    <generator>Music Side Project</generator>
    <lastBuildDate>Fri, 24 Feb 2023 15:43:42 GMT</lastBuildDate>
    <atom:link href="https://musicsideproject.com/feed/8ce06b1f-d07d-549c-ad2a-7bc7f31e50bc" rel="self" type="application/rss+xml"/>
    <author><![CDATA[The Bible Song Band]]></author>
    <podcast:medium>music</podcast:medium>
    <podcast:guid>8ce06b1f-d07d-549c-ad2a-7bc7f31e50bc</podcast:guid>
    <itunes:author>The Bible Song Band</itunes:author>
    <itunes:owner>
      <itunes:name>The Bible Song Band</itunes:name>
      <itunes:email></itunes:email>
    </itunes:owner>
    <itunes:explicit>false</itunes:explicit>
    <itunes:image href="https://d12wklypp119aj.cloudfront.net/image/c60a8e6a-40d9-44fe-8c2e-1540c80b9c27.jpg"/>
    <item>
      <title><![CDATA[Gas Station]]></title>
      <link>https://musicsideproject.com/album/8ce06b1f-d07d-549c-ad2a-7bc7f31e50bc</link>
      <guid isPermaLink="true">https://musicsideproject.com/feed/8ce06b1f-d07d-549c-ad2a-7bc7f31e50bc</guid>
      <dc:creator><![CDATA[The Bible Song Band]]></dc:creator>
      <pubDate>Tue, 07 Feb 2023 04:49:32 GMT</pubDate>
      <enclosure url="digitalocean/track/guid.mp3" length="3731461" type="audio/mpeg"/>
      <podcast:episode>1</podcast:episode>
      <podcast:season>1</podcast:season>
      <podcast:value type="lightning" method="keysend">
        <podcast:valueRecipient name="Musician" type="node" address="alby" customKey="16180339" customValue="xyz" split="100"/>
      </podcast:value>
      <itunes:explicit>false</itunes:explicit>
      <itunes:duration>00:03:53</itunes:duration>
    </item>
  </channel>
</rss>