
:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--color-bg-0: hsl(208, 100%, 32%);
	--color-bg-1: hsl(208, 100%, 22%);
	--color-bg-2: hsl(0, 0%, 11%);
	--color-bg-3: hsl(0, 0%, 15%);
	--color-bg-boostagram-1:  hsl(0, 0%, 19%);
	--color-poster-bg-0: hsl(208, 100%, 15%);
	--color-poster-bg-1: hsl(208, 100%, 6%);
	--color-progressbar-0: hsl(208, 100%, 42%);
	--color-progressbar-1: hsl(0, 0%, 97%);
	--color-text-0: hsl(0, 0%, 97%);
	--color-button-shadow:  hsl(0, 0%, 0%);
	--color-bg-button: hsl(234, 100%, 62%);
	--color-bg-button-upload-0: hsl(234, 100%, 72%);
	--color-bg-support-button: hsl(234, 100%, 62%);
	
	--color-bg-add-band: hsl(198, 100%, 42%);
	--color-bg-add-album: hsl(198, 100%, 52%);
	--color-bg-add-track: hsl(198, 100%, 62%);

	--color-bg-add-shade-1: hsl(198, 100%, 50%);
	--color-bg-add-shade-2: hsl(198, 100%, 40%);
	--color-bg-add-shade-3: hsl(198, 100%, 30%);
	--color-bg-add-shade-4: hsl(198, 100%, 20%);

	--color-bg-select-band: hsl(198, 50%, 42%);
	--color-bg-edit-band: hsl(257, 50%, 42%);
	--color-bg-select-album: hsl(198, 50%, 52%);
	--color-bg-edit-album: hsl(257, 50%, 52%);
	--color-bg-select-track: hsl(198, 50%, 62%);
	--color-bg-add-directory: hsl(257, 50%, 52%);
	--color-bg-download-feed: hsl(198, 50%, 52%);
	--color-bg-delete: hsl(0, 100%, 30%);
	--color-playbar-text-0: hsl(0, 0%, 84%);
	--color-text-0: hsl(0, 0%, 100%);
	--color-text-1: hsl(0, 0%, 75%);
	--color-text-2: hsl(0, 0%, 50%);
	--color-text-3: hsl(0, 0%, 25%);
	--color-text-4: hsl(208, 100%, 62%);
	--color-text-support-button: hsl(0, 0%, 5%);
	--color-text-boost-cancel-0: hsla(0, 0%, 75%, .4);
	--color-nav-bg-0: hsl(0, 0%, 17%);
	--color-playbar-bg-0: hsl(0, 0%, 25%);
	--color-nav-icon-0: hsl(0, 0%, 97%);	
	--color-player-icon-0: var(--color-nav-icon-0);
	--color-text-boost-button: hsl(0, 0%, 4%);
	--color-bg-boost-button: pink;
	--color-input-bg-0: hsla(208, 14%, 49%, .5);	
	--color-input-bg-1: hsla(208, 14%, 49%, .75);
	--color-input-text-0: hsl(0, 0%, 95%);
	--color-input-text-1: hsl(0, 0%, 81%);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--color-list-divider: rgba(255, 255, 255, 0.2);
	--color-scroll-bar: hsl(208, 40%, 22.5%);
	--mdc-theme-primary: var(--color-progressbar-0);
	font-family: var(--font-body);
	color: var(--color-text-0);
}

html, body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);	
}



body {
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-3);
	-webkit-tap-highlight-color: transparent !important;
	outline: none !important;
	margin:0 auto;

}



h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-text-0);
}

a:hover {
	text-decoration: underline;
}



li{
	cursor: pointer;
}



input,
button {
	font-size: inherit;
	font-family: inherit;
}

button{
	cursor: pointer;
	border: none;
	margin:2px;
	color: var(--color-text-0);
	background-color: var(--color-bg-button);
	padding: 8px 16px;
	border-radius: 20px;
	font-weight: 550;
}

button:focus:not(:focus-visible) {
	outline: none;
}


.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

input, textarea{	
	color: var(--color-input-text-0);
	background-color: var(--color-input-bg-0);
	border-radius: 4px;
	outline: 0;
	padding: 4px;
	border: 1px solid transparent
}

input::placeholder {
	color: var(--color-input-text-1)
}


input:focus, textarea:focus {
	border-color: #66afe9;
	border: 1px solid #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.8);
}

::selection {
	background: #66afe9;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color-scroll-bar);
	border-radius: 10px;
}

ul,
div {
	scrollbar-color: var(--color-scroll-bar) transparent;
	scrollbar-width: thin;
}

button.delete {
	background-color: var(--color-bg-delete);
}

.upload-progress-bar.bar-color {
	color: red;
}